/* App */
.page-bg{
    background: rgb(239, 239, 239);
    height: 100%;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

/* NavBar */
.x-center-top{
    position: absolute;
    top:0;
    width: 70%;
    margin: 0 15%;
    padding-top: 10px;
    vertical-align: middle;
    z-index: 2;
}

/* detail/list */

.md-list-item-conten img{
    display: inline;
}
.md-list-item-content .md-list-item-text{
    margin-left: 15px;
    display: inline;
}
.md-list-item-content{
    color:black;
    font-weight: bold;
    font-size: 14pt;
}
:hover,:active{
    text-decoration: none;
}
div.md-list-item-container, .md-list-item .md-list-item-container{
    padding: 4px 10px;
}
div.md-list-item-content, .md-list-item .md-list-item-content{
    padding: 15px;
    border: 1px solid black;
    background: #fff;
}